<div class="portfolio" *ngIf="projects">

  <swiper [config]="swiperConfig" useSwiperClass="swiper">

    <div class="slide" *ngFor="let project of projects">
      <img class="slide__logo" [src]="project.logo" alt="project.name">
      <h2 class="slide__name">{{ project.name }}</h2>
      <div class="slide__desc">{{ project.description }}</div>
      <a class="slide__link" [href]="project.link" target="_blank">View project</a>
      <span class="slide__year">{{ project.year }}</span>
    </div>

  </swiper>

</div>

<div *ngIf="!projects">
  loading
</div>
