@import '~src/common/index'
@import '~src/common/animations'

.contacts
  position: relative
  display: flex
  margin-left: auto
  margin-top: 20vh
  z-index: 1

.contacts__item
  flex-basis: 25%
  text-align: center
  margin-left: 50px
  opacity: 0
  animation: fade-in-top 0.5s ease, show 0.25s ease 0.25s
  animation-fill-mode: forwards

  &:first-child
    margin-left: 0

  @for $i from 1 through 4
    &:nth-child(#{$i})
      animation-delay: #{$i * 0.1}s

/deep/
  .contacts__icon
    display: flex
    margin: 0 auto
    padding: 20px
    width: 50px
    height: 50px
    border-radius: 50%
    transition: background-color 0.25s ease
    cursor: pointer

    svg
      display: inline-block
      vertical-align: bottom
      width: 50px
      height: auto
      fill: $light
      transition: fill 0.25s ease 0.1s

    &:hover
      background-color: $light

      svg
        fill: #3087e4

  .contacts__icon--email
    background-color: #7e7cff

    &:hover svg
      fill: #7e7cff

  .contacts__icon--skype
    background-color: #00aff0

    &:hover svg
      fill: #00aff0

  .contacts__icon--github
    background-color: #1e4a68

    &:hover svg
      fill: #1e4a68

  .contacts__icon--linkedin
    background-color: #0077B5

    &:hover svg
      fill: #0077B5

.contacts__source
  margin-top: 25px
  color: $light
  font:
    family: $font-second
    weight: $font-medium
    size: 18px
