<div class="contacts">
<!--
  <div class="contacts__devider">
    <div class="contacts__line"></div>
  </div> -->

  <div class="contacts__item">
    <div class="contacts__caption">Email</div>
    <div class="contacts__source">alexander-kislov@hotmail.com</div>
    <button class="contacts__action">Copy</button>
  </div>

  <div class="contacts__item">
    <div class="contacts__caption">Phone Number</div>
    <div class="contacts__source">+380-95-548-7449</div>
    <button class="contacts__action">Copy</button>
  </div>

  <div class="contacts__item">
    <div class="contacts__caption">Skype</div>
    <div class="contacts__source">live:alexander-kislov</div>
    <button class="contacts__action">Copy</button>
  </div>

  <div class="contacts__item">
    <div class="contacts__caption">LinkedIn</div>
    <div class="contacts__source">in/alexander-kislov/</div>
    <button class="contacts__action">Copy</button>
  </div>

  <div class="contacts__item">
    <div class="contacts__caption">GitHub</div>
    <div class="contacts__source">farengeyt451</div>
    <button class="contacts__action">Copy</button>
  </div>

  <div class="contacts__devider contacts__devider--bottom">
    <div class="contacts__line"></div>
  </div>
</div>
