<div class="contacts">

  <div class="contacts__item">
    <a class="contacts__icon contacts__icon--email" href="mailto:alexander-kislov@hotmail.com" [inlineSVG]="'/assets/blocks/contacts/email.svg'"></a>
    <div class="contacts__body">
      <div class="contacts__source">alexander-kislov@hotmail.com</div>
    </div>
  </div>

  <div class="contacts__item">
    <a class="contacts__icon contacts__icon--skype" href="skype:live:alexander-kislov?call" [inlineSVG]="'/assets/blocks/contacts/skype.svg'"></a>
    <div class="contacts__body">
      <div class="contacts__source">live:alexander-kislov</div>
    </div>
  </div>

  <div class="contacts__item">
    <a class="contacts__icon contacts__icon--github" href="https://github.com/farengeyt451" target="_blank" [inlineSVG]="'/assets/blocks/contacts/github.svg'"></a>
    <div class="contacts__body">
      <div class="contacts__source">farengeyt451</div>
    </div>
  </div>

  <div class="contacts__item">
    <a class="contacts__icon contacts__icon--linkedin" href="https://www.linkedin.com/in/alexander-kislov" target="_blank" [inlineSVG]="'/assets/blocks/contacts/linkedin.svg'"></a>
    <div class="contacts__body">
      <div class="contacts__source">in/alexander-kislov</div>
    </div>
  </div>

</div>
