<nav>
  <div class="navigation" #navMenu>

    <ul class="navigation__menu">
      <li
        *ngFor="let item of navMenuItems"
        class="navigation__item"
        [@toggleMenu]="menuState"
      >
        <a
          class="navigation__link"
          [routerLink]="item.path"
          routerLinkActive="navigation__link--active"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>

    <app-mobile-navigation
      *ngIf="menuState === 'visible'"
      [navMenuItems]="navMenuItems"
      (onMobileNavItemSelect)="onMobileNavItemSelect()"
    >
    </app-mobile-navigation>

    <div class="hamburger navigation__toggle" (click)="onMenuClick()" #hamburger>

      <div class="hamburger__default">
        <span class="hamburger__line hamburger__line--top"></span>
        <span class="hamburger__line hamburger__line--middle"></span>
        <span class="hamburger__line hamburger__line--bottom"></span>
      </div>

      <div class="hamburger__opened">
        <span class="hamburger__line hamburger__line--top"></span>
        <span class="hamburger__line hamburger__line--bottom"></span>
      </div>
    </div>
  </div>
</nav>
