@import '~src/styles/common/index'
@import '~src/styles/common/animations'

.home
  position: relative
  color: $light
  font-family: $font-main

.home__hero
  position: absolute
  margin-top: 10vh
  right: 0

  +media($mobile-lg)
    display: inline-block
    position: relative
    left: 50%
    transform: translateX(-50%)

.home__caption
  margin: 0
  font:
    size: 72px
    weight: $font-light
  line-height: 1.4
  cursor: default
  opacity: 0
  animation: fade-in-right 0.75s ease, show 0.4s ease 0.25s
  animation-fill-mode: forwards

  +media($laptop-lg)
    font-size: 60px

  +media($tablet)
    font-size: 48px

  +media($mobile-sm)
    font-size: 44px

.home__name
  display: block
  font-weight: $font-semi-bold

.home__greeting
  font:
    size: 32px
    family: $font-second
    weight: $font-light
  margin: 25px 0 0 0
  cursor: default
  opacity: 0
  animation: fade-in-right 0.75s ease, show 0.4s ease 0.25s
  animation-delay: 0.2s
  animation-fill-mode: forwards

  +media($laptop-lg)
    font-size: 28px

  +media($tablet)
    font-size: 20px

.home__more
  display: inline-block
  border-radius: 100px
  padding: 20px 100px
  margin-top: 25px
  border-color: transparent
  background-color: $primary
  background: linear-gradient(to right, #ffb88c, #de6262)
  color: $light
  font:
    size: 18px
    family: $font-main
    weight: $font-light
  letter-spacing: 1px
  cursor: pointer
  text-decoration: none
  opacity: 0
  transition: box-shadow 0.2s, transform 0.15s, background-color 0.2s, text-shadow 0.3s
  transform: translateY(0)
  animation: show cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s forwards
  animation-delay: 0.75s

  &:hover
    text-shadow: 0 0 0.65px #fff, 0 0 0.65px #fff
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1)
    transform: translateY(-2px)

  &:active
    background-color: darken($primary, 5%)

  +media($tablet)
    padding: 15px 70px
    font-size: 18px

  +media($mobile-sm)
    padding: 10px 50px
