@import '~src/common/index'

.home
  position: relative
  color: $light
  font-family: $font-main
  opacity: 0
  transition: opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1)

.home__hero
  position: absolute
  margin-top: 10vh
  right: 0

.home__caption
  margin: 0
  font:
    size: 72px
    weight: $font-light
  line-height: 1.4
  cursor: default

.home__name
  display: block
  font-weight: $font-semi-bold

.home__greeting
  font:
    size: 32px
    family: $font-second
    weight: $font-light
  margin: 25px 0 0 0
  cursor: default

.home__more
  display: inline-block
  border-radius: 10em
  padding: 20px 100px
  margin-top: 25px
  border-color: transparent
  background-color: $primary
  color: $light
  font:
    size: 18px
    family: $font-main
    weight: $font-light
  letter-spacing: 1px
  cursor: pointer
  text-decoration: none
  transition: box-shadow 0.2s, transform 0.15s, background-color 0.2s

  &:hover
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1)
    transform: translateY(-2px)

  &:active
    background-color: darken($primary, 5%)
