@import '~src/styles/common/index'

// Mat-tab styles in /app/components/skills
.skills
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar
    height: 1px

  .mat-tab-label
    color: $light
    justify-content: flex-start
    padding-right: 50px
    transition: opacity 0.15s cubic-bezier(0.7, 0, 0.3, 1), color 0.25s
    margin-bottom: 15px

    &:last-child
      margin-bottom: 0

    &:hover
      color: $third
      opacity: 1


  .mat-tab-label-active
    color: $third
    opacity: 1

  .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron
    border-color: rgba(255, 255, 255, 0.38)

  .mat-elevation-z4
    box-shadow: none


