@import '~src/styles/common/index'

// Swiper styles in /app/components/portfolio
.portfolio
  .swiper
    overflow: hidden

  swiper > .swiper.s-wrapper .swiper-wrapper .swiper-slide
    +media($mobile-lg)
      width: 270px !important

    +media($mobile-sm)
      width: 260px !important

    +media($mobile-xs)
      width: auto !important

  swiper > .swiper.s-wrapper
    +media($mobile-lg)
      position: relative
      width: 100%
      margin: 0 auto
      padding: 0

    +media($mobile-sm)
      box-sizing: border-box

  .swiper-container
    position: static
    padding: 64px 0

  .swiper-slide
    pointer-events: none
    transition: transform 0.4s ease-in-out

  .swiper-slide-next
    transform: scale(1.15)
    box-shadow: 0 0 40px rgba($dark, 0.1)
    z-index: 2

    +media($tablet)
      transform: scale(1)

  .swiper-button-prev,
  .swiper-button-next
    width: 80px
    height: 80px
    margin-top: -40px
    background-image: url('/assets/blocks/slider/arrow.png')
    background-size: 80px 80px
    box-shadow: 0 0 40px rgba($dark, 0.05)
    border-radius: 100%
    transition: opacity 0.2s, box-shadow 0.2s ease-out
    z-index: 1

    &:hover
      box-shadow: 0 0 40px rgba($dark, 0.15)

    +media($laptop-sm)
      width: 60px
      height: 60px
      background-size: 60px 60px

    +media($mobile-lg)
      display: none

  .swiper-button-prev
    left: 0

    +media($laptop-sm)
      left: 15px

    +media($mobile-lg)
      left: 0

  .swiper-button-next
    transform: rotate(180deg)
    right: 0

    +media($laptop-sm)
      right: 15px

    +media($mobile-lg)
      right: 0
