@import '~src/styles/common'

// Tippy styles in /app/modules/features/skills/pages/skills-index
.skill-theme
  padding: 10px 15px
  background: $third
  color: darken($text-main, 10%)
  font:
    family: $font-second
    size: 14px
    weight: $font-semi-bold
