@import '~src/styles/common/index'

// Tippy styles in /app/components/skills
.skill-theme
  color: darken($text-main, 10%)
  font:
    family: $font-second
    size: 14px
    weight: $font-semi-bold
  padding: 10px 15px

  .tippy-backdrop
    background-color: $third
