@import '~src/common/index'

.main
  position: relative
  width: 100vw
  height: 100vh
  // background: #7474BF
  // background: linear-gradient(to right, #348AC7, #7474BF)
#gradient
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  background: #836997

