<!-- <div class="skills"
>

  <mat-tab-group mat-align-tabs="center" disableRipple animationDuration="700" [selectedIndex]="selectedTab">

    <mat-tab>
      <ng-template mat-tab-label>
          <span class="skill__tab skill__tab--upper" (click)="onTabSelect(0)">html</span>
      </ng-template>
      <ng-template matTabContent>
        <div class="skill__content"
             (swipeleft)="onSwipeLeft()"
             (swiperight)="onSwipeRight()">
          <div class="skills__item" title="HTML5" appTippy [tippyOptions]="tippyOptions">
            <img class="skills__img" src="/assets/blocks/skills/html5.svg" alt="html5">
          </div>
          <div class="skills__item" title="Pug" appTippy [tippyOptions]="tippyOptions">
            <img class="skills__img" src="/assets/blocks/skills/pug.svg" alt="pug">
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
          <span class="skill__tab skill__tab--upper" (click)="onTabSelect(1)">css</span>
      </ng-template>
      <div class="skill__content"
           (swipeleft)="onSwipeLeft()"
           (swiperight)="onSwipeRight()">
        <div class="skills__item" title="CSS3" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/css3.svg" alt="css3">
        </div>
        <div class="skills__item" title="SASS" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/sass.svg" alt="sass">
        </div>
        <div class="skills__item" title="Stylus" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/stylus.svg" alt="stylus">
        </div>
        <div class="skills__item" title="Bootstrap" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/bootstrap.svg" alt="bootstrap">
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
          <span class="skill__tab" (click)="onTabSelect(2)">JavaScript</span>
      </ng-template>
        <div class="skill__content"
             (swipeleft)="onSwipeLeft()"
             (swiperight)="onSwipeRight()">
        <div class="skills__item" title="JS (ES5, ES6)" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/js.svg" alt="js">
        </div>
        <div class="skills__item" title="Angular" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/angular.svg" alt="angular">
        </div>
        <div class="skills__item" title="TypeScript" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/ts.svg" alt="typescript">
        </div>
        <div class="skills__item" title="RXJS" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/rxjs.svg" alt="rxjs">
        </div>
        <div class="skills__item" title="jQuery" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/jquery.svg" alt="jquery">
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
          <span class="skill__tab" (click)="onTabSelect(3)">Build Tools</span>
      </ng-template>
      <div class="skill__content"
           (swipeleft)="onSwipeLeft()"
           (swiperight)="onSwipeRight()">
        <div class="skills__item" title="Webpack" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/webpack.svg" alt="webpack">
        </div>
        <div class="skills__item" title="Gulp" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/gulp.svg" alt="gulp">
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
          <span class="skill__tab" (click)="onTabSelect(4)">Package Managers</span>
      </ng-template>
      <div class="skill__content"
           (swipeleft)="onSwipeLeft()"
           (swiperight)="onSwipeRight()">
        <div class="skills__item" title="NPM" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/npm.svg" alt="npm">
        </div>
        <div class="skills__item" title="Yarn" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/yarn.svg" alt="yarn">
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
          <span class="skill__tab" (click)="onTabSelect(5)">VSC & Hubs</span>
      </ng-template>
      <div class="skill__content"
           (swipeleft)="onSwipeLeft()"
           (swiperight)="onSwipeRight()">
        <div class="skills__item" title="Git" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/git.svg" alt="git">
        </div>
        <div class="skills__item" title="GitHub" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/github.svg" alt="github">
        </div>
        <div class="skills__item" title="GitLab" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/gitlab.svg" alt="gitlab">
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
          <span class="skill__tab" (click)="onTabSelect(6)">OS & Apps</span>
      </ng-template>
      <div class="skill__content"
           (swipeleft)="onSwipeLeft()"
           (swiperight)="onSwipeRight()">
        <div class="skills__item" title="Linux" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/linux.svg" alt="linux">
        </div>
        <div class="skills__item" title="Visual Studio Code" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/vsc.svg" alt="vsc">
        </div>
        <div class="skills__item" title="Adobe Photoshop" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/ps.svg" alt="ps">
        </div>
        <div class="skills__item" title="Inkscape" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/inkscape.svg" alt="inkscape">
        </div>
        <div class="skills__item" title="Avocode" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/avocode.svg" alt="avocode">
        </div>
        <div class="skills__item" title="Zeplin" appTippy [tippyOptions]="tippyOptions">
          <img class="skills__img" src="/assets/blocks/skills/zeplin.svg" alt="zeplin">
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div> -->
