<div class="skills">
  <h2 class="skills__heading">Basic Stack</h2>
  <div class="skills__item skills__item--marginless" title="Good knowledge of HTML5" appTippy [tippyOptions]="tippyOptions">
    <img class="skills__img" src="/assets/blocks/skills/html5.svg" alt="html5">
  </div>

  <div class="skills__item" title="Good knowledge of CSS3" appTippy [tippyOptions]="tippyOptions">
    <img class="skills__img" src="/assets/blocks/skills/css3.svg" alt="css3">
  </div>

  <div class="skills__item" title="Average knowledge of JS (ES5, ES6)" appTippy [tippyOptions]="tippyOptions">
    <img class="skills__img" src="/assets/blocks/skills/js.svg" alt="js">
  </div>

  <h2 class="skills__heading">Package managers</h2>
  <div class="skills__item skills__item--marginless" title="Knowledge of npm" appTippy [tippyOptions]="tippyOptions">
    <img class="skills__img" src="/assets/blocks/skills/npm.svg" alt="html5">
  </div>

  <div class="skills__item" title="Knowledge of yarn" appTippy [tippyOptions]="tippyOptions">
    <img class="skills__img" src="/assets/blocks/skills/yarn.svg" alt="css3">
  </div>

  <h2 class="skills__heading">CSS preprocessors</h2>
  <div class="skills__item skills__item--marginless" title="Good knowledge of SASS" appTippy [tippyOptions]="tippyOptions">
    <img class="skills__img" src="/assets/blocks/skills/sass.svg" alt="html5">
  </div>

  <div class="skills__item" title="Worked with Stylus" appTippy [tippyOptions]="tippyOptions">
    <img class="skills__img" src="/assets/blocks/skills/stylus.svg" alt="css3">
  </div>
</div>

<div class="skill__card">
  <h2 class="skills__heading">Basic Stack</h2>
  <div class="skills__item skills__item--marginless" title="Good knowledge of HTML5" appTippy [tippyOptions]="tippyOptions">
    <img class="skills__img" src="/assets/blocks/skills/html5.svg" alt="html5">
  </div>

  <div class="skills__item" title="Good knowledge of CSS3" appTippy [tippyOptions]="tippyOptions">
    <img class="skills__img" src="/assets/blocks/skills/css3.svg" alt="css3">
  </div>

  <div class="skills__item" title="Average knowledge of JS (ES5, ES6)" appTippy [tippyOptions]="tippyOptions">
    <img class="skills__img" src="/assets/blocks/skills/js.svg" alt="js">
  </div>
</div>
