<ngx-smart-modal #mobNav [identifier]="'mobNav'" customClass="nsm-centered">
  <div class="mob">
    <ul class="mob__menu">
      <li class="mob__item">
        <a class="mob__link" routerLink="/home" routerLinkActive="mob__link--active">Home</a>
      </li>
      <li class="mob__item">
        <a class="mob__link" routerLink="/portfolio" routerLinkActive="mob__link--active">Portfolio</a>
      </li>
      <li class="mob__item">
        <a class="mob__link" routerLink="/skills" routerLinkActive="mob__link--active">Skills</a>
      </li>
      <li class="mob__item">
        <a class="mob__link" routerLink="/contacts" routerLinkActive="mob__link--active">Contacts</a>
      </li>
    </ul>
  </div>
</ngx-smart-modal>
