<nav>
  <div class="mob">
    <ul class="mob__menu">
      <li class="mob__item">
        <a class="mob__link" routerLink="/home" (click)="onMenuItemClick($event)">Home</a>
      </li>
      <li class="mob__item">
        <a class="mob__link" routerLink="/portfolio" (click)="onMenuItemClick($event)">Portfolio</a>
      </li>
      <li class="mob__item">
        <a class="mob__link" routerLink="/skills" (click)="onMenuItemClick($event)">Skills</a>
      </li>
      <li class="mob__item">
        <a class="mob__link" routerLink="/contacts" (click)="onMenuItemClick($event)">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
