@import '~src/styles/common/index'
@import '~src/styles/common/animations'

.mob
  display: none
  align-items: center
  justify-content: center
  position: fixed
  height: 100%
  left: 0
  right: 0

  +media($mobile-md)
    display: flex

.mob-nav
  position: relative
  z-index: 1

.mob__menu
  padding: 0
  list-style-type: none
  text-align: center
  margin-top: -100px

.mob__item
  padding: 45px 0
  opacity: 0
  animation: fade-in-top 0.5s ease, show 0.25s ease 0.25s
  animation-fill-mode: forwards

  @for $i from 1 through 4
    &:nth-child(#{$i})
      animation-delay: #{$i * 0.15}s

.mob__link
  font-family: $font-main
  font-size: 35px
  line-height: 48px
  text-decoration: none
  color: $light
  transition: color 0.2s ease

  &:hover
    color: #feb144
