/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'
@import '~src/common/index'

// Swiper styles in /app/components/portfolio
.portfolio
  .swiper
    overflow: hidden

  .swiper > .swiper.s-wrapper
    position: static

  .swiper-container
    position: static
    padding: 64px 0

  .swiper-slide
    pointer-events: none
    transition: transform 0.4s ease-in-out

  .swiper-slide-next
    transform: scale(1.15)
    box-shadow: 0 0 40px rgba($dark, 0.1)
    z-index: 2

  .swiper-button-prev,
  .swiper-button-next
    width: 80px
    height: 80px
    background-image: url('/assets/blocks/slider/arrow.png')
    background-size: 80px 80px
    box-shadow: 0 0 40px rgba($dark, 0.05)
    border-radius: 100%
    transition: opacity 0.2s, box-shadow 0.2s ease-out
    z-index: 1

    &:hover
      box-shadow: 0 0 40px rgba($dark, 0.15)

  .swiper-button-prev
    transform: translateY(-25%)
    left: 0

  .swiper-button-next
    transform: translateY(-25%) rotate(180deg)
    right: 0

// Tippy styles in /app/components/skills
.skill-theme
  color: darken($text-main, 10%)
  font:
    family: $font-second
    size: 14px
    weight: $font-semi-bold
  padding: 10px 15px

  .tippy-backdrop
    background-color: $third

// Mat-tab styles in /app/components/skills
.skills
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar
    background: $third
    height: 2px

  .mat-ripple
    border-radius: 5px
