<nav>
  <div class="nav" #navMenu>

    <ul class="nav__menu">
      <li
        *ngFor="let item of navMenuItems"
        class="nav__item"
        [@toggleMenu]="menuState"
      >
        <a
          class="nav__link"
          [routerLink]="item.path"
          routerLinkActive="nav__link--active"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>

    <app-mobile-navigation
      *ngIf="menuState === 'visible'"
      (onMobileNavItemSelect)="onMobileNavItemSelect()"
    >
    </app-mobile-navigation>

    <div class="hamburger nav__toggle" (click)="onMenuClick()" #hamburger>

      <div class="hamburger__default">
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
      </div>

      <div class="hamburger__opened">
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
      </div>
    </div>
  </div>
</nav>
