<nav>
  <div class="nav" #navMenu>

    <ul class="nav__menu">
      <li class="nav__item" [@toggleMenu]=menuState>
        <a class="nav__link" routerLink="/home" routerLinkActive="nav__link--active">Home</a>
      </li>
      <li class="nav__item" [@toggleMenu]=menuState>
        <a class="nav__link" routerLink="/portfolio" routerLinkActive="nav__link--active">Portfolio</a>
      </li>
      <li class="nav__item" [@toggleMenu]=menuState>
        <a class="nav__link" routerLink="/skills" routerLinkActive="nav__link--active">Skills</a>
      </li>
      <li class="nav__item" [@toggleMenu]=menuState>
        <a class="nav__link" routerLink="/contacts" routerLinkActive="nav__link--active">Contacts</a>
      </li>
    </ul>

    <app-mobile-navigation *ngIf="menuState === 'visible'" (onNavEvent)=onNavEvent()></app-mobile-navigation>

    <div class="hamburger nav__toggle" (click)="onMenuClick()" #hamburger>

      <div class="hamburger__default">
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
      </div>

      <div class="hamburger__opened">
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
      </div>
    </div>
  </div>
</nav>
